.main-content {
    margin-top: 16px;

    .banner {
        &-left {
            .col(66.5%);

            .banner-inner {
                position: relative;
            }

            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            position: relative;

            &-content {
                position: absolute;
                top: 55%;
                right: 11.9%;
                letter-spacing: 0.01em;

                .title {
                    font-size: 30px;
                    font-family: pacifico;
                    color: #000;
                    font-weight: 700
                }

                .btn {
                    width: 106px;
                    height: 40px;
                    background-color: #8262b5;
                    margin-left: 215px;
                    margin-top: 4px;

                    &-shop {
                        font-size: 14px;
                        font-family: Montserrat;
                        color: #ffffff;
                        line-height: 40px;
                        padding: 20px 14px;
                    }
                }
            }
        }

        &-right {
            .col(33.5%);
            padding: 0 15px;

            &-item {
                width: 100%;

                &-inner {
                    position: relative;

                    img {
                        width: 100%;
                    }
                }

                &:last-child {
                    padding-top: 25px;
                }
            }

            .banner-right-content {
                position: absolute;
                top: 43%;
                left: 16%;

                .title-special {
                    font-size: 16px;
                    letter-spacing: 3px;
                    color: #616161;
                    font-weight: 600;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                }

                .summary {
                    font-size: 20px;
                    color: #000;
                    font-weight: 600;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                }
            }

            .content-bottom {
                position: absolute;
                top: 37%;
                left: 11%;

                .btn {
                    width: 106px;
                    height: 40px;
                    background-color: #8262b5;
                    margin-top: 15px;
                    margin-left: 5px;

                    &-shop {
                        font-size: 14px;
                        font-family: Montserrat;
                        font-weight: 400;
                        color: #ffffff;
                        line-height: 40px;
                        padding: 20px 15px;
                    }
                }
            }
        }

    }
}

.top-selling {
    padding-top: 57px;
    padding-bottom: 34px;

    .title-selling {
        font-size: 12px;
        letter-spacing: 6px;
        color: #8262b5;
        font-weight: 700;
        font-family: "Montserrat";
    }

    .name-selling {
        padding-top: 12px;
        font-size: 24px;
        letter-spacing: 2px;
        color: #000000;
        font-weight: 700;
        font-family: "Montserrat";
    }

    .rong {
        padding-top: 24px;
        border-bottom: 1px solid #8262b5;
        width: 50px;
    }
}

.list-product {
    display: flex;

    &-item {
        .col(25%);
        margin-bottom: 30px;

        .list-product-inner {
            .product-img {
                position: relative;

                img {
                    width: 100%;
                }

                .cart {
                    position: absolute;
                    width: 118px;
                    height: 40px;
                    background-color: #ffffff;
                    bottom: 3%;
                    left: 2%;
                    text-align: center;
                    line-height: 42px;

                    a {
                        font-size: 12px;
                        line-height: 40px;
                        color: #424242;
                        font-weight: 400;
                        font-family: "Montserrat";
                        text-transform: uppercase;

                        &:hover {
                            cursor: pointer;
                            color: #8262b5;
                        }
                    }
                }
            }

            .product-content {
                .product-name {
                    padding-top: 14px;
                    font-size: 14px;
                    color: #000000;
                    font-weight: 400;
                    font-family: "Montserrat";
                }

                .product-star {
                    padding-top: 10px;

                    ul {
                        display: flex;

                        li {
                            color: #f9c325;
                            font-size: 12px;
                        }

                        .star-item {
                            :last-child {
                                color: #e6e6e6;
                            }
                        }
                    }
                }

                .product-price {
                    padding-top: 8px;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: "Montserrat";

                    &-old {
                        color: #a0a0a0;
                        text-decoration-line: line-through;
                    }

                    &-sale {
                        color: #8262b5;
                    }
                }
            }
        }
    }
}